@charset "UTF-8";
/*
  font-family: 'Open Sans', sans-serif; Main Font
  font-family: 'Noto Sans', sans-serif; The "Almost All" Languages Font
  font-family: 'Hina Mincho', serif; Styled Font
*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Noto+Sans&family=Hina+Mincho&display=swap");
/* +Vars */
/* +Vars */
/* +f */
/* +Mixins */
/* +Mixins */
/* +Extends */
#v-planner form .footer {
  width: 100%;
  height: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}
#v-planner form .main,
#v-planner form .main .box-instances,
#v-planner form .instance {
  width: 100%;
  height: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
/* +Extends */
/* +Init */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* +Init */
/* +Defaults */
:root {
  font-family: "Open Sans" , Arial , Helvetica , sans-serif;
  height: 100%;
}
body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  height: 100%;
}
main {
  width: 50%;
  height: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0px 3.013ch;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #96beff;
}
/* +Defaults */
/* +v-planner */
#v-planner {
  width: 90%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#v-planner form {
  width: 90%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 5rem;
  padding: 0px 2px;
  background-color: #277abc;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 2px double #f6ecdc;
  border-radius: 5px;
}
#v-planner form .header {
  width: 100%;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 3rem;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin-bottom: calc( ( 1.625rem / 2 ) + ( 2px / 2 ) + 2px );
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
#v-planner form .header > * {
  width: 30%;
  height: 3rem;
  border-radius: 5px;
}
#v-planner form .header .monthlyRefund {
  font-size: 1rem;
  text-align: center;
  padding: 0rem 0rem 0.1rem 0rem;
  background-color: #009240;
  color: #fff;
  border: none;
  outline: none;
}
#v-planner form .header .funds {
  font-size: 1rem;
  text-align: center;
  padding: 0rem 0rem 0.1rem 0rem;
  border: none;
  outline: none;
}
#v-planner form .main .box-instances {
  padding: 0px 3.5ch;
}
#v-planner form .footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#v-planner form .actions {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 20px 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 4.75ch;
}
#v-planner form .actions > * {
  height: 2.5rem;
  width: calc( 50% - ( 2.375ch + 17.75ch + 3.5ch ) );
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  color: #fff;
}
#v-planner form .actions .calc {
  background-color: #96beff;
}
#v-planner form .actions .addInstance {
  width: 3.5ch;
  height: 4.2ch;
  background-color: #26619c;
  background-image: url("/svg/plus-squared-light.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-origin: border-box;
  background-position: center;
  border-radius: 10%;
  border: 1px solid #f6ecdc;
}
#v-planner form .actions .reset {
  background-color: #e8784d;
}
#v-planner form .totals {
  width: calc( 100% - ( 3.5ch * 2 ) );
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
#v-planner form .totals > * {
  height: 1.8rem;
  width: 13ch;
  border-radius: 5px;
  padding: 0rem 0rem 0.1rem 0rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
}
#v-planner form .totals .totalSaldoPlusPagos {
  background-color: #009240;
}
#v-planner form .totals .totalRefund {
  background-color: #26619c;
}
#v-planner form .totals .totalSpent {
  background-color: #ed2939;
}
#v-planner form .instance fieldset {
  width: 80%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 0.8125rem 2px 0px;
  border: 2px double #f6ecdc;
  border-radius: 5px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
#v-planner form .instance .legend--align {
  align-self: flex-end;
  position: absolute;
  top: -1rem;
  right: -3.013ch;
  z-index: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
#v-planner form .instance .legend--align legend {
  height: 1.625rem;
  font-size: 1rem;
  background-color: #26619c;
  border: 2px solid #231f20;
}
#v-planner form .instance .legend--align .delInstance {
  width: 3.5ch;
  height: 4.2ch;
  background-color: #ed2939;
  background-image: url("/svg/trash-opened.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-origin: border-box;
  background-position: center;
  border: 1px solid #231f20;
  align-self: flex-end;
  z-index: 2;
}
#v-planner form .instance .item {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.5rem;
  padding: 0px 2px;
  margin: 1px 0px;
  border: 2px solid #96beff;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1ch;
       column-gap: 1ch;
  border-radius: 5px;
}
#v-planner form .instance .item--part {
  height: 2rem;
  border: none;
}
#v-planner form .instance .item--part.yDrag {
  width: 3.5ch;
  height: 4.2ch;
  background-color: #277abc;
  background-image: url("/svg/scroll.svg");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
#v-planner form .instance .item--part.order {
  width: 6ch;
  text-align: center;
}
#v-planner form .instance .item--part.category {
  width: 24ch;
}
#v-planner form .instance .item--part.description {
  width: 30ch;
}
#v-planner form .instance .item--part.rawPrice {
  width: 13ch;
  text-align: center;
}
#v-planner form .instance .item--part.discount {
  width: 8ch;
  text-align: center;
}
#v-planner form .instance .item--part.finalPrice {
  width: 13ch;
  text-align: center;
  background-color: #fff;
  color: #2c2c2b;
  font-size: 0.875rem;
  padding: 0.4rem 0px;
}
#v-planner form .instance .item--part.delItem {
  width: 3.5ch;
  height: 4.2ch;
  background-color: #ed2939;
  background-image: url("/svg/cross-rounded.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-origin: border-box;
  background-position: center;
  border-radius: 10%;
  border: 1px solid #231f20;
}
#v-planner form .instance .item--part.addItem {
  width: 3.5ch;
  height: 4.2ch;
  background-color: #ffd744;
  background-image: url("/svg/plus-squared.svg");
  background-repeat: no-repeat;
  background-size: 80%;
  background-origin: border-box;
  background-position: center;
  border-radius: 10%;
  border: 1px solid #231f20;
}
#v-planner form .instance .item--part:focus {
  outline: 2px solid #f6ecdc;
}
#v-planner form .instance .item--part:disabled {
  background-color: #c4c0bd;
}
#v-planner form .instance .subResults {
  width: calc( 100% - ( 3.5ch * 2 ) );
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
#v-planner form .instance .subResults > * {
  height: 1.8rem;
  width: 13ch;
  border-radius: 5px;
  padding: 0rem 0rem 0.1rem 0rem;
  font-size: 1rem;
  text-align: center;
  color: #fff;
  border-radius: 0px 0px 20px 20px;
  border: none;
  outline: none;
}
#v-planner form .instance .subResults .subSaldoPlusPagos {
  align-self: flex-start;
  background-color: #009240;
  border: none;
}
#v-planner form .instance .subResults .subRefund {
  background-color: #26619c;
  border: none;
}
#v-planner form .instance .subResults .subSpent {
  align-self: flex-end;
  background-color: #ed2939;
  border: none;
}
/* +v-planner */
